*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y:auto ; */
  overflow: hidden;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background-image: url(images/bg.jpg);
  background-size: cover;
  overflow-y: auto;

}
#app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
